@import url('https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');

//mixins and variables
@mixin mq($min, $max) {
  @media only screen and (min-width: $min+'px') and (max-width: $max+'px') {
    @content;
  }
}

@mixin container($width) {
  max-width: ($width+px);
  margin-left: auto;
  margin-right: auto;
  @include mq(0, $width + 30) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

$tenor: 'Tenor Sans', sans-serif;
$spectral: 'Spectral', serif;

//colors
$primary_color: #A45548;

.inner-container {
  @include container(1057);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin-top: 22px;
  position: relative;
  z-index: 3;
  @include container(1170);

  &__brand {
    width: 95px;
    height: 98px;

    img {
      height: auto;
      width: 100%;
      max-width: 100%;
    }
  }

  &__nav {
    display: inline-flex;
    width: auto;

    li {
      margin-left: 45px;

      &:first-child {
        margin-left: 0;
      }

      a {
        font-family: $tenor;
        color: #fff;
        font-size: 14px;
      }

    }
  }
}

.hero {
  background-color: #000;
  margin-top: -120px;
  padding-top: 154px;
  position: relative;
  height: 900px;
  overflow: hidden;

  &.page-temp {
    .inner-container {
      @include container(1170);
    }

    .hero__content-title {
      max-width: 404px;
      width: 100%;
      font-size: 36px;
      line-height: 54px;
    }
  }

  &__slider {
    height: 100%;
  }

  &__image {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    max-width: 100%;
    width: 100%;

    ul.slick-dots {
      position: absolute;
      bottom: 62px;
      left: 50%;
      z-index: 3;
      list-style: none;
      display: inline-flex;
      padding-left: 0;
      margin-left: 0;

      li {
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }

        &.slick-active {
          button {
            background-color: $primary_color;
          }
        }

        button {
          border-radius: 50px;
          height: 10px;
          width: 10px;
          padding: 0px;
          font-size: 0;
          border: 1px solid $primary_color;
          background-color: transparent;

          &:focus {
            outline: none;
          }
        }
      }
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    &-nav {
      position: relative;
      z-index: 3;
      color: $primary_color !important;
      font-family: $tenor;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      margin-top: 62px;
      display: inline-block;
      transition: 0.3s ease-in-out;

      &:hover {
        color: #fff !important;
        text-decoration: none;
        transition: 0.3s ease-in-out;
      }
    }

    &.teacher-content {
      padding-bottom: 162px;
      padding-top: 81px;
      position: relative;
      z-index: 3;
    }

    &-title {
      color: #fff;
      font-size: 36px;
      line-height: 34px;
      font-family: $spectral;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 28px;
      position: relative;
      z-index: 3;

      &.sep {
        &:before {
          content: '';
          display: block;
          opacity: 0.25;
          width: 76px;
          border: 1px solid #FFFFFF;
          margin-top: 32px;
          margin-bottom: 37px;
        }
      }
    }

    &-descr {
      color: #fff;
      font-family: $tenor;
      font-size: 14px;
      line-height: 21px;
      opacity: 0.65;
      position: relative;
      z-index: 3;
    }

    &-teacher-photo {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 3;

      img {
        height: 482px;
        max-width: 363px;
        width: 100%;
      }
    }
  }

  &:before {
    content: '';
    background: linear-gradient(90deg, #0C0C0C 37.92%, rgba(12, 12, 12, 0) 100%);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.partners {
  @include container(1272);

  margin-top: 163px;
  margin-bottom: 163px;

  &__title {
    font-family: $spectral;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    width: 100%;
    text-align: center;
    margin-bottom: 34px;
  }

  &__logo {
    max-width: 302px;
    width: 100%;
    height: 85px;
    display: flex;
    margin-bottom: 36px;

    img {
      object-fit: contain;
    }
  }
}

//teachers list section
.teachers {
  margin-bottom: 163px;

  .inner-container {
    @include container(1182);
  }

  &__title {
    font-family: $spectral;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    width: 100%;
    text-align: center;
    margin-bottom: 108px;
  }

  &__post {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-photo {
      border: 1px solid rgba(12, 12, 12, 0.12);
      width: 212px;
      height: 212px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;

      img {
        width: 195px;
        height: 195px;
        border-radius: 50%;
      }
    }

    &-title {
      font-family: $tenor;
      font-size: 24px;
      line-height: 87px;
      text-align: center;
    }
  }
}

//Subscribe form
.subscribe {
  display: flex;
  width: 100%;

  .row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  &__title {
    background-color: rgba(12, 12, 12, 0.05);
    width: 50%;
    padding: 66px 84px;
    @include mq(0, 991) {
      padding: 40px;
    }
    @include mq(0, 600) {
      width: 100%;
    }

    h3 {
      font-family: $spectral;
      font-weight: bold;
      font-size: 36px;
      line-height: 54px;
      color: #0C0C0C;
      max-width: 410px;
      width: 100%;
      @include mq(0, 991) {
        font-size: 30px;
        line-height: 44px;
      }
    }
  }

  &__form {
    width: 50%;
    background-color: #0C0C0C;
    padding-top: 45px;
    padding-bottom: 89px;
    padding-left: 107px;
    padding-right: 15px;
    @include mq(0, 991) {
      padding: 60px 40px;
    }
    @include mq(0, 600) {
      width: 100%;
    }

    form {
      max-width: 302px;
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        flex-direction: column;
        font-family: $tenor;
        font-size: 12px;
        line-height: 32px;
        color: #fff;
      }

      .wpcf7-form-control-wrap {
        margin-bottom: 46px;
        max-width: 302px;
        width: 100%;
      }

      input {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background-color: transparent;
        border-radius: 0px;
        color: #fff !important;
        font-size: 12px;
        font-family: $tenor;
        padding-left: 5px;
        padding-right: 5px;
        outline: none;
      }

      input[type="submit"] {
        background: rgba(255, 255, 255, 0.12);
        border: 1px solid rgba(255, 255, 255, 0.35);
        outline: none;
        border-radius: 0px;
        text-transform: uppercase;
        color: #fff;
        font-family: $tenor;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.12em;
        max-width: 155px;
        width: 100%;
        transition: 0.4s ease-in-out;

        &:hover {
          background: rgba(255, 255, 255, 0.30);
          transition: 0.4s ease-in-out;
        }
      }
    }
  }
}

//Footer section
.footer {
  background-color: #000;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 68px;

  .inner-container {
    @include container(1272);

    .row {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;

    }
  ;

  }

  &__logo {
    max-width: 105px;
    width: 100%;
    height: 107px;
    @include mq(0, 991) {
      margin-bottom: 15px;
    }

    img {
      opacity: 0.2;
      filter: grayscale(100%);
      object-fit: contain;
    }
  }

  &__schools {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
    @include mq(0, 575) {
      margin-bottom: 15px;
    }

    a {
      font-family: $tenor;
      font-size: 14px;
      line-height: 24px;
      color: $primary_color;
      transition: 0.3s ease-in-out;

      &:hover {
        color: #fff;
        transition: 0.3s ease-in-out;
        text-decoration: none;
      }
    }
  }

  &__info {
    @include mq(0, 575) {
      margin-bottom: 15px;
    }

    p {
      color: #fff;
      font-size: 14px;
      line-height: 24px;
      font-family: $tenor;
      margin: 0px;
    }

    a {
      color: #fff;
      transition: 0.3s ease-in-out;

      &:hover {
        text-decoration: none;
        color: $primary_color;
        transition: 0.3s ease-in-out;
      }
    }
  }

  &__social {
    @extend .footer__schools;
    display: flex;
    justify-content: flex-end;
    margin-top: 37px;
    @include mq(0, 991) {
      justify-content: flex-start !important;
      margin-top: 0px;
    }

    li {
      margin-left: 17px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
